section{
    padding-top: 80px;
    height: max-content;
    width: 100%;
    background-color: #f5f5f5;
}
.Hero_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding-bottom: 100px;
}
.Headline{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 25px;
    background-color: #dcebd8;
    width: max-content;
    padding: 3px 8px 3px 8px;
    font-size: small;
    
}
.Article_h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    font-size: 80px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.Sub_article{
    font-size: large;
    word-spacing: 5px;
    font-weight: 400;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color:#7d7a79;
}
.Button_section{
    display: flex;
    width: max-content;
    column-gap: 30px;
    margin-top: 55px;
}
.Panels{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 100px;
}
.Admin_panel,.Farm_panel,.Detection_panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 250px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #bebebe;
    
}
.Panel_logo{
    background-color: #ecf7e9;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Panel_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.Panel_pg{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
@media screen and (max-width:480px) {
    .Article_h1{
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Sub_article{
        display: none;
        font-size: 10px;
        word-spacing: 5px;
    }
    .Hero_section{
        margin-top: 0px;
        margin-top: 40px;
        padding-bottom: 0;
    }
    .Panels{ 
        flex-direction: column;
        row-gap: 20px;
    }
    .Button_section{
        column-gap: 10px;
    }
    
}